.main-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
}
.main-wrapper-column {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-form-wrapper {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

.login-form {
  /* background-color: rgb(250, 255, 189); */
  padding: 30px;
  border-radius: 15px;
  width: 50%;
  max-width: 500px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  align-items: center;
  background-color: #dbdbdb;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 100%;
}

.header > div {
  width: 33%;
  max-width: 33%;
}

.header > div:nth-child(2) {
  text-align: center;
}

.header--menu-buttons {
  display: flex;
  justify-content: flex-end;
}

.full-name {
  font-weight: 600;
}

.question-form > h2{
  text-align: left;
  text-decoration: none;
}

.question-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
}

.question-form input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  min-width: 400px;
}

.question-form input:focus {
  border-color: rgb(255, 64, 129);
  outline: 0;
}

input[type='checkbox'] {
  cursor: pointer;
  margin-right: 5px;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.flex-row {
  display: flex;
  padding-left: 15px;
}

li {
  padding: 5px 10px;
  margin: 2px 0;
}

.active {
  background-color: rgb(232, 232, 232);
}

.half-width-column {
  width: 49%;
}
.remaining {
  padding-left: 15px;
  margin-top: -30px;
  color: #909090;
}
.text-align-left {
  padding-left: 15px;
  text-decoration: none;
  text-align: left;
}
.margin-bottom {
  margin-bottom: 30px;
}
.-clickable:hover {
  background: linear-gradient(to right, rgb(232, 232, 232), rgba(232, 232, 232, .0) 80%);
}
.-clickable {
  cursor: pointer;
}
